<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         columns="max"
         bootstrap="../../autoload.php"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">../../src/Test/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
        <exclude>
            <directory>../../src/Test</directory>
        </exclude>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
